body{
    margin: 0;
    padding: 0; 
    background-color: rgb(230,200,199);
}

nav ul{ 
        list-style-type: none;
        margin: 0;
        padding: 0px;
        overflow: hidden;  
}


ul li{
    float: right;
}

ul li a{
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
}  

li a:hover{
    color: green;
}

.banner-area{
    background-image: url(images/bakery\ shop.jpg);
    background-size: cover;
    padding: 100px 100px;
    height:300px;
    width:1200px;
}

.welcome{
    display: block;
    font-style: italic;
    font-size: 30px;
    justify-content: center;
    text-align: center; 
}
.welcome a:hover{
    color: green;
}

.about{
    height: 500px;
    display:flex;
    flex-direction:column;
}

.about h1{
    display: block;
    color:black;
    font-size: 70;
    margin:0;
    padding: 10px; 
    word-spacing: 10px; 
}


.about p{
    display: block;
    color:green;
}

.mission h2{
    display: block;
    color:black;
    font-size: 60;
    margin: 10px;
    padding: 10PX;
    word-spacing: 10px;
}

.mission p{
    display: block;
    color: green;
}

.vision h3{
    display:block;
    font-size: 50;   
}

.features{
    display: grid;
    grid-template-columns:100px 100px 100px 100px 100px ;
    gap: 10%;
    margin:10px; 
    padding: 0;
}

.features img{
    width:250px;
    height: 250px;
    margin: 20px;
}


.footer{
    display:flex;
    margin:20px;
    padding:0px;
    gap:15px;
}

.footer img{
    width:20px;
    height:20px;
    object-fit: cover;
}

.footer img:hover{
    transform:scale(1.1)
}

.footer p{
    font-size: 100;
    font-style: italic;
}

.form input{
    margin:20px;
    padding:0px;
    display:grid;
    grid-column: auto;
}

.form input h1{
    padding: 0px;
    margin: 0px;
    font-size: 70;
    font-style: normal;
}
.reach{
    display: block;
    margin-top: 50;
    padding: 0px;
}

.reach img{
    width:20px;
    height:20px;
    object-fit: cover;
}
.reach img:hover{
 transform: scale(1.1);   
}

.products{
     display: grid;
    grid-template-columns:100px 100px 100px 100px 100px ;
    gap: 10%;
    margin:10px; 
    padding: 0;
}

.products img{
width:250px;
    height: 250px;
    margin: 20px;
}


.services{
    display: grid;
    grid-template-columns: 100px 100px 100px ;
    gap:50px;
    justify-content: center;
    font-size: 15px;
    font-style: italic;
}
.services img{
    height:30px;
    width:30px;
}

.focus{
    display: grid;
    grid-template-columns: 100px 100px 100px ;
    gap:50px;
    justify-content: center;
    font-size: 15px;
    font-style: italic;

}
.focus img{
    height:30px;
    width:30px;
}

